/*Ajoute la police*/
body {
    background-color: #E6E6FA; /* Couleur de fond lavande */
    font-family: 'Pangolin', sans-serif;
    margin: 30px;
}


/*-------Style pour le menu---------*/

.navbar {
    padding: 10px 20px; /* Ajout de marges internes */
}

.navbar ul {
    list-style: none; /* Supprime les puces */
    display: flex; /* Affiche les éléments en ligne */
    justify-content: flex-end; /* Éléments flexibles groupés à la fin */
    gap: 70px; /*Espace entre chaque élement du menu*/
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold;
    padding: 10px 20px; /* espace autour du texte */
    background-color: #89CFF0; /* couleur de fond */
    color: black; /* couleur du texte */
    border-radius: 20px; /* bord arrondi */
    border: 2px solid black; /*contour autour de chaque élément du menu */
    font-size: 21px; /* Agrandir la police des éléments du menu */
}

/*-------Style pour le bloc intro---------*/

main {
    height: 100%; /* Permet de s'assurer que l'élément parent couvre toute la hauteur */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    min-height: calc(100vh - 100px); /* Hauteur minimale de l'écran moins la hauteur du menu */
}

.container {
    text-align: center; /* Centre les textes à l'intérieur */
    height: 100%;
    background-color: #FFC0CB; /* couleur de fond */
    padding: 40px 50px; /* espace autour du texte */
    border-radius: 40px; /* bord arrondi */
    border: 2px solid black; /*contour autour de chaque élément du menu */
    font-weight: lighter;
}

.container h1 {
    font-size: 90px;
    margin: 0; /* Facultatif : éviter des marges inutiles */
}

.container p {
    font-size: 30px;
    margin: 0; /* Facultatif : éviter des marges inutiles */
}

